In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, accuracy_score

In [3]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [5]:
# Z 'PassengerID' wyciągam numer grupy pasażera do osobnej kolumny

df['PassengerGroup'] = df['PassengerId'].str.split('_').str[0]

In [6]:
passenger_group_val_counts = df['PassengerGroup'].value_counts()

In [7]:
# Z 'PassengerID' wyciągam liczebność grupy pasażera i zapisuję ją
# w osobnej kolumnie

df['GroupSize'] = df['PassengerGroup'].map(passenger_group_val_counts)

In [8]:
# Zamieniam indexy na 'PassengerId'

df.index = df.PassengerId

In [9]:
# Wyrzucam kolumnę 'PassengerId'
df.drop('PassengerId', axis=1, inplace=True)

In [10]:
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,PassengerGroup,GroupSize
PassengerId,,,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,1
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,1
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,2
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,2
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,1
9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,1
9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,1
9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,2
9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,2

In [11]:
# Wyciągam informacje o tym gdzie pasażer przebywał z 'Cabin' 
# do trzech osobnych kolumn i zrzucam kolumne

df['CabinDeck'] = df['Cabin'].str.split('/').str[0]
df['CabinNum'] = df['Cabin'].str.split('/').str[1]
df['CabinSide'] = df['Cabin'].str.split('/').str[2]

In [12]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,PassengerGroup,GroupSize,CabinDeck,CabinNum,CabinSide
PassengerId,,,,,,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,1,B,0,P
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,1,F,0,S
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,2,A,0,S
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,2,A,0,S
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,1,F,1,S

In [13]:
df.drop('Cabin', axis=1, inplace=True)
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,PassengerGroup,GroupSize,CabinDeck,CabinNum,CabinSide
PassengerId,,,,,,,,,,,,,,,,,
0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,1,B,0,P
0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,1,F,0,S
0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,2,A,0,S
0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,2,A,0,S
0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,1,F,1,S

In [14]:
# Wyrzucam kolumne z imieniem i nazwiskiem ze względu na zbyt dużą różnorodność

df.drop("Name", axis=1, inplace=True)
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerGroup,GroupSize,CabinDeck,CabinNum,CabinSide
PassengerId,,,,,,,,,,,,,,,,
0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,1,B,0,P
0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,1,F,0,S
0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,2,A,0,S
0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,2,A,0,S
0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,1,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,9276,1,A,98,P
9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,9278,1,G,1499,S
9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,9279,1,G,1500,S
9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,9280,2,E,608,S
9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,9280,2,E,608,S

In [15]:
for col in df.columns:
    print(col, df[col].value_counts(dropna=False))

HomePlanet HomePlanet
Earth     4602
Europa    2131
Mars      1759
NaN        201
Name: count, dtype: int64
CryoSleep CryoSleep
False    5439
True     3037
NaN       217
Name: count, dtype: int64
Destination Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
NaN               182
Name: count, dtype: int64
Age Age
24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: count, Length: 81, dtype: int64
VIP VIP
False    8291
NaN       203
True      199
Name: count, dtype: int64
RoomService RoomService
0.0       5577
NaN        181
1.0        117
2.0         79
3.0         61
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: count, Length: 1274, dtype: int64
FoodCourt FoodCourt
0.0       5456
NaN        183
1.0        116
2.0         75
3.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: count, Length: 1508, dtype: int64
ShoppingMall ShoppingMall
0.0       5587
NaN        208
1.0        153
2.0         80
3.0         59
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: count, Length: 1116, dtype: int64
Spa Spa
0.0       5324
NaN        183
1.0        146
2.0        105
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: count, Length: 1328, dtype: int64
VRDeck VRDeck
0.0       5495
NaN        188
1.0        139
2.0         70
3.0         56
          ...
297.0        1
1788.0       1
1113.0       1
9244.0       1
3235.0       1
Name: count, Length: 1307, dtype: int64
Transported Transported
True     4378
False    4315
Name: count, dtype: int64
PassengerGroup PassengerGroup
4498    8
8168    8
8728    8
8796    8
8956    8
       ..
3483    1
3480    1
3478    1
3473    1
4620    1
Name: count, Length: 6217, dtype: int64
GroupSize GroupSize
1    4805
2    1682
3    1020
4     412
5     265
7     231
6     174
8     104
Name: count, dtype: int64
CabinDeck CabinDeck
F      2794
G      2559
E       876
B       779
C       747
D       478
A       256
NaN     199
T         5
Name: count, dtype: int64
CabinNum CabinNum
NaN     199
82       28
86       22
19       22
56       21
       ...
1644      1
1515      1
1639      1
1277      1
1894      1
Name: count, Length: 1818, dtype: int64
CabinSide CabinSide
S      4288
P      4206
NaN     199
Name: count, dtype: int64

In [16]:
for col in df.columns:
    print(col, len(df[col].unique()))

HomePlanet 4
CryoSleep 3
Destination 4
Age 81
VIP 3
RoomService 1274
FoodCourt 1508
ShoppingMall 1116
Spa 1328
VRDeck 1307
Transported 2
PassengerGroup 6217
GroupSize 8
CabinDeck 9
CabinNum 1818
CabinSide 3

In [17]:
# Usuwam 'CabinNum' z powodu na liczebność jego unikatowych wyników

df.drop('CabinNum', axis=1, inplace=True)

In [18]:
# Usuwam 'PassengerGroup' z powodu na liczebność jego unikatowych wyników

df.drop('PassengerGroup', axis=1, inplace=True)

In [19]:
# Wyznaczam target

y = df.Transported

In [20]:
y

PassengerId
0001_01    False
0002_01     True
0003_01    False
0003_02    False
0004_01     True
           ...
9276_01    False
9278_01    False
9279_01     True
9280_01    False
9280_02     True
Name: Transported, Length: 8693, dtype: bool

In [21]:
# Dziele kolumny na kategoryczne i numeryczne

num_columns = df.select_dtypes(['int', 'float'])
cat_columns = df.select_dtypes(['object'])

In [22]:
num_columns

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,GroupSize
PassengerId,,,,,,,
0001_01,39.0,0.0,0.0,0.0,0.0,0.0,1
0002_01,24.0,109.0,9.0,25.0,549.0,44.0,1
0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,2
0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,2
0004_01,16.0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...
9276_01,41.0,0.0,6819.0,0.0,1643.0,74.0,1
9278_01,18.0,0.0,0.0,0.0,0.0,0.0,1
9279_01,26.0,0.0,0.0,1872.0,1.0,0.0,1
9280_01,32.0,0.0,1049.0,0.0,353.0,3235.0,2
9280_02,44.0,126.0,4688.0,0.0,0.0,12.0,2

In [23]:
cat_columns

            HomePlanet CryoSleep    Destination    VIP CabinDeck CabinSide
PassengerId
0001_01         Europa     False    TRAPPIST-1e  False         B         P
0002_01          Earth     False    TRAPPIST-1e  False         F         S
0003_01         Europa     False    TRAPPIST-1e   True         A         S
0003_02         Europa     False    TRAPPIST-1e  False         A         S
0004_01          Earth     False    TRAPPIST-1e  False         F         S
...                ...       ...            ...    ...       ...       ...
9276_01         Europa     False    55 Cancri e   True         A         P
9278_01          Earth      True  PSO J318.5-22  False         G         S
9279_01          Earth     False    TRAPPIST-1e  False         G         S
9280_01         Europa     False    55 Cancri e  False         E         S
9280_02         Europa     False    TRAPPIST-1e  False         E         S

[8693 rows x 6 columns]

### Missing values

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Transported   8693 non-null   bool
 11  GroupSize     8693 non-null   int64
 12  CabinDeck     8494 non-null   object
 13  CabinSide     8494 non-null   object
dtypes: bool(1), float64(6), int64(1), object(6)
memory usage: 1.2+ MB

In [25]:
num_columns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           8514 non-null   float64
 1   RoomService   8512 non-null   float64
 2   FoodCourt     8510 non-null   float64
 3   ShoppingMall  8485 non-null   float64
 4   Spa           8510 non-null   float64
 5   VRDeck        8505 non-null   float64
 6   GroupSize     8693 non-null   int64
dtypes: float64(6), int64(1)
memory usage: 801.4+ KB

In [42]:
# Uzupełniam kolumny numeryczne najczęściej występującą wartością

filled_num_columns = num_columns.fillna(num_columns.mode().iloc[0])

In [43]:
filled_num_columns.isna().sum()

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
GroupSize       0
dtype: int64

In [44]:
# Wykonuje OneHotEncoding na kolumnach kategorycznych

ohe = OneHotEncoder()

filled_cat_columns = pd.DataFrame(ohe.fit_transform(cat_columns).toarray(), index=cat_columns.index, columns=ohe.get_feature_names_out())
filled_cat_columns

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_nan,CryoSleep_False,CryoSleep_True,CryoSleep_nan,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,...,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T,CabinDeck_nan,CabinSide_P,CabinSide_S,CabinSide_nan
PassengerId,,,,,,,,,,,,,,,,,,,,,
0001_01,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0002_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
0003_01,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0003_02,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0004_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9278_01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9279_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9280_01,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9280_02,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [45]:
# Łącze oba zbiary kolumn w X

X = pd.concat([filled_num_columns, filled_cat_columns], axis=1)
X

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,GroupSize,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T,CabinDeck_nan,CabinSide_P,CabinSide_S,CabinSide_nan
PassengerId,,,,,,,,,,,,,,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0002_01,24.0,109.0,9.0,25.0,549.0,44.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0004_01,16.0,303.0,70.0,151.0,565.0,2.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,41.0,0.0,6819.0,0.0,1643.0,74.0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9278_01,18.0,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9279_01,26.0,0.0,0.0,1872.0,1.0,0.0,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9280_01,32.0,0.0,1049.0,0.0,353.0,3235.0,2,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9280_02,44.0,126.0,4688.0,0.0,0.0,12.0,2,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
X.isna().sum()

Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
GroupSize                    0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
HomePlanet_nan               0
CryoSleep_False              0
CryoSleep_True               0
CryoSleep_nan                0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
Destination_nan              0
VIP_False                    0
VIP_True                     0
VIP_nan                      0
CabinDeck_A                  0
CabinDeck_B                  0
CabinDeck_C                  0
CabinDeck_D                  0
CabinDeck_E                  0
CabinDeck_F                  0
CabinDeck_G                  0
CabinDeck_T                  0
CabinDeck_nan                0
CabinSide_P                  0
CabinSide_S                  0
CabinSide_nan                0
dtype: int64

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

param_grid = {
    'n_estimators': [150, 200, 250],  # Number of trees in the forest       # Maximum depth of the trees
    'min_samples_split': [1, 2],   # Minimum number of samples required to split a node
    'min_samples_leaf': [4, 6, 8]      # Minimum number of samples required at each leaf node
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=1), param_grid, cv=5, scoring='accuracy')

grid_search.fit(X_train, y_train)

/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
45 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
45 fits failed with the following error:
Traceback (most recent call last):
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestClassifier must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan 0.80068963 0.79910752 0.79953886
        nan        nan        nan 0.79781328 0.7969507  0.79738204
        nan        nan        nan 0.79479325 0.79436191 0.79594391]
  warnings.warn(

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=1),
             param_grid={'min_samples_leaf': [4, 6, 8],
                         'min_samples_split': [1, 2],
                         'n_estimators': [150, 200, 250]},
             scoring='accuracy')

In [48]:
y_pred = grid_search.predict(X_test)

In [49]:
accuracy_score(y_test, y_pred)

0.7993099482461185

In [50]:
grid_search.best_params_

{'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 150}